@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Quicksand:700);

* {
    
}

body {
    background-color: rgb(216, 216, 211);
}

header {
    top: 0%;
    left: 0%;
    width: 100%;
    position: sticky;
    background-color: #464849;
    overflow: hidden;
    z-index: 1000;
}

header .banner {
    float:left;
    height: auto;
    width: 560px;
    margin-right: 70px;
}

header .banner img {
    max-width: 100%;
    max-height: 100%;
}

header .menu {
  float: center;
  height: auto;
  font-size: 25px;
  font-family: "Montserrat";
  color: rgb(216, 216, 211);
  margin: 40px 40px 0px 40px;
}
/* .menu behavior on menu.css */

main {
  
}

h3 {
    text-align: center;
    font-size: 60px;
    color: #e60000;
    font-family: "Montserrat";
    font-weight: bold;
    margin-bottom: 40px;
}

p {
    text-align: justify;
    font-size: 30px;
    margin: 20px 20px 50px 20px;
}

span{
    color: #e60000;
    font-size: 45px;
}

#introduction, #projects, #about-me {
  background-color: #ffffffef;
  color: #464849;
  font-family: sans-serif;
  padding: 50px 100px 50px 100px;
  margin: 30px 60px 30px 60px;
  overflow: hidden;
  border-radius: 25px;
}

#introduction .avatar {
  float: left;
  height: 400px;
  width: 400px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#introduction .mapouter {
  float: right;
  object-fit: scale-down;
}

#projects .wips
{
  background-image: url("neonbackground2.gif");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.wips .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.box .content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* .wips .box behavior on projects.css */

.galicia {
  float: left;
  height: 500px;
  width: 600px;
}

.japan {
  float: right;
  height: 500px;
  width: 600px;
}

footer {
    bottom: 0%;
    width: 100%;
    background-color: #464849;
    color: rgb(216, 216, 211);
    overflow: hidden;
    z-index: 1000;
}

@media only screen and (max-width: 800px){
    h3 {
      font-size: 40px;
      margin-bottom: 20px;
      
    }
    p {
      font-size: 20px;
    }
    span {
      font-size: 30px;
    }
    #introduction, #projects, #about-me {
      padding: 25px 50px 25px 50px;
      margin: 15px 30px 15px 30px;
    }
}

@media only screen and (max-width: 600px){
  h3 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  p {
    font-size: 15px;
  }
  span {
    font-size: 22,5px;
  }
  #introduction, #projects, #about-me {
    padding: 15px 40px 15px 40px;
    margin: 5px 20px 5px 20px;
  }
}

@media only screen and (max-width: 500px){
  h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  p {
    font-size: 10px;
  }
  span {
    font-size: 20px;
  }
  #introduction, #projects, #about-me {
    padding: 10px 30px 10px 30px;
    margin: 2,5px 10px 2,5px 10px;
  }
}

